  <div class='banner-container'>
    <div class="banner-img"></div>
    <div class="banner-text">
      <h1>Cocktail Tones</h1>
      <p>and a splash of Jazz</p>
      <div class="new-button">
        <%= link_to "CREATE NEW", new_cocktail_path %>
      </div>
    </div>
  </div>


  <div class="cocktail-container">
    <h2 class="pb-5 pt-4">Cocktail Recipes</h2>
    <ul class="cocktail-grid">
      <% @cocktails.each do |cocktail| %>
      <li class="cocktail-card card-title"><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
      <%#= link_to "Delete", dose_path(dose), method: :delete, "data-confirm": "Are you sure?" %>
      <% end %>
    </ul>



    <!-- <div class="new-button">
        <%#= link_to "Create new cocktail", new_cocktail_path %>
      </div> -->

<!-- <button id="myBtn" class="btn-ghost">Leave A Review</button> -->
      <!-- The Modal -->

        <!-- Modal content -->
        <!-- <div class="modal-content">
          <span class="close">&times;</span>
            <div class="container">
              <%#= render partial: 'ingredient_reviews/form' %>
            </div>
        </div>
      </div> -->



  <%#= cl_image_tag("https://res.cloudinary.com/drdoomsday/image/upload/v1605836623/qt9ays8wyxxuujcp2b4y.jpg",
      width: 400, height: 300, crop: :fill) %>



