<div class="form-container">
  <nav class ="navbar mb-0">
    <div class = "nav-btn">
      <%= link_to "HOME", cocktails_path%>
    </div>
        <div class= "nav-title">
        <h1>Cocktail Tones</h1>
      </div>
      <div class="none">
    </div>
  </nav>

  <div class="mx-5">
    <h2 class='py-5 pl-3'>What should we name your drink?</h2>
    <div class="forms py-5 px-5">
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.input :name, label: 'Cocktail name:', error: 'You must name your cocktail!!', label_html: { class: 'form-style' }%>
        <%= f.button :submit, 'Create new cocktail', class: 'new-button' %>
      <% end %>
    </div>
  </div>
</div>


