.cocktail-card {
  background-image: linear-gradient(rgba(0,0,3,0.35), rgba(0,0,0,0.35)), url(glass.jpg);
  max-width: 220px;
  max-height: 220px;
  height: 220px;
  width: 220px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  box-shadow: 0px 0px 25px -20px rgba(192, 26, 201, 0.8);
  border-radius: 3px;
  margin-bottom: 38px;
}

.card-title {
  font-family: 'Kalam', cursive;
  font-size: 20px;

  a {
    color: rgb(71, 255, 255);
    text-shadow: 1px 1px 3px rgb(107, 255, 248);
  }
}

.cocktail-display-card {

}
