.cocktail-card {
  background-image: linear-gradient(rgba(0,0,3,0.35), rgba(0,0,0,0.35));
  max-width: 220px;
  max-height: 220px;
  height: 220px;
  width: 220px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  box-shadow: 0px 0px 25px -20px rgba(192, 26, 201, 0.8);
  border-radius: 3px;
  margin-bottom: 38px;
  font-family: 'Kalam', cursive;
  font-size: 20px;
  position: relative;

  a {
    color: rgb(71, 255, 255);
    text-shadow: 1px 1px 3px rgb(107, 255, 248);
    position: absolute;
  }

  img {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
  }
}



.cocktail-display-card {
  width: auto;
  height: auto;
  background-color: #101010fa;
  box-shadow: 0 0 10px 5px rgba(192, 26, 201, 0.3);
  display:flex;
  box-sizing: border-box;
  border-radius: 4px;
}

.cocktail-pic {
  padding: 40px 40px;
}
.cocktail-pic img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-style: double;
  border-color: rgba(26, 169, 201, 0.3)
}

.cocktail-text {
  justify-content: space-evenly;
  flex-grow: 1;
  text-align: center;
  line-height: 1;
  padding-top: 40px;
    h1, p {
    font-family: 'Fahkwang', sans-serif;
    text-shadow: 2px 2px 4px rgba(255, 51, 78, 0.8);
  }
}
